/* a */
#article-section a {
  margin: auto 0.2em;
  color: #005CAF;
  padding-bottom: 1px;
  border-bottom: 1px dotted #005CAF;
  text-decoration: none;
}
#article-section a:hover {
  border-bottom: 2px solid #005CAF;
}

/* p */
#article-section p {
  margin-bottom: 1em;
}

/* ul, ol, li */
#article-section ul, ol {
  margin-bottom: 1em;
}
#article-section ul li {
  list-style-type: disc;
  margin-left: 1.1em;
}
#article-section ol li {
  list-style-type: decimal;
  margin-left: 1.1em;
}

/* header */
#article-section h1 {
  margin-top: 3em;
  font-size: 1.6em;
  padding: 0.2em 0.4em;
  background-color: #005CAF;
  color: white;
}
#article-section h2 {
  margin-top: 2.5em;
  font-size: 1.4em;
  color: #005CAF;
  border-bottom: 2px solid;
  border-left: 10px solid;
  padding: 0.1em 0.3em;
}
#article-section h3 {
  margin-top: 2em;
  font-size: 1.3em;
  color: #005CAF;
  padding: 0.1em 0.3em;
  border-left: 7px solid;
  border-bottom: 2px dashed;
}
#article-section h4 {
  margin-top: 1.5em;
  font-size: 1.2em;
  color: #005CAF;
  padding: 0.1em 0.3em;
  border-left: 4px solid;
}

/* alert */
#article-section div.alert {
  padding: 1em;
  margin: 1em 0.3em;
  border-radius: 1em;
}
#article-section div.alert.info::before {
  content: "[INFO]";
  color: #7DB9DE;
}
#article-section div.alert.info {
  background-color: azure;
  border: 1px solid #7DB9DE;
}
#article-section div.alert.success::before {
  content: "[SUCCESS]";
  color: mediumseagreen;
}
#article-section div.alert.success {
  background-color: honeydew;
  border: 1px solid mediumseagreen;
}
#article-section div.alert.warning::before {
  content: "[WARNING]";
  color: orange;
}
#article-section div.alert.warning {
  background-color: papayawhip;
  border: 1px solid orange;
}
#article-section div.alert.danger::before {
  content: "[DANGER]";
  color: red;
}
#article-section div.alert.danger {
  background-color: mistyrose;
  border: 1px solid red;
}
