/* a */
#article-section a:not(.gatsby-resp-image-link) {
  margin: auto 0.2em;
  color: #005caf;
  padding-bottom: 1px;
  border-bottom: 1px dotted #005caf;
  text-decoration: none;
}
#article-section a:hover:not(.gatsby-resp-image-link) {
  /* hover と not hover で border の長さが違うと画像にもついちゃう */
  border-bottom: 1px solid #005caf;
}

/* alert */
#article-section div.alert {
  padding: 1em;
  margin: 1em 0.3em;
  border-radius: 1em;
}
#article-section div.alert.info::before {
  content: "[INFO]";
  color: #7db9de;
}
#article-section div.alert.info {
  background-color: azure;
  border: 1px solid #7db9de;
}
#article-section div.alert.success::before {
  content: "[SUCCESS]";
  color: mediumseagreen;
}
#article-section div.alert.success {
  background-color: honeydew;
  border: 1px solid mediumseagreen;
}
#article-section div.alert.warning::before {
  content: "[WARNING]";
  color: orange;
}
#article-section div.alert.warning {
  background-color: papayawhip;
  border: 1px solid orange;
}
#article-section div.alert.danger::before {
  content: "[DANGER]";
  color: red;
}
#article-section div.alert.danger {
  background-color: mistyrose;
  border: 1px solid red;
}

/* blockquote */
#article-section blockquote {
  border: 1px dashed #006284;
  color: dimgray;
  border-radius: 0.5em;
}
#article-section blockquote::before {
  font-size: 3em;
  left: 0.2em;
  top: 0.1em;
}
#article-section blockquote p:last-child {
  margin-bottom: 0;
}

/* code */
#article-section code[class*="language-"] {
  padding: .2em;
  color: #CB4042;
  text-shadow: none;
}

/* header */
#article-section h1 {
  margin-top: 3em;
  font-size: 1.6em;
  padding: 0.2em 0.4em;
  background-color: #005caf;
  color: white;
}
#article-section h2 {
  margin-top: 2.5em;
  font-size: 1.4em;
  color: #005caf;
  border-bottom: 2px solid;
  border-left: 10px solid;
  padding: 0.1em 0.3em;
}
#article-section h3 {
  margin-top: 2em;
  font-size: 1.3em;
  color: #005caf;
  padding: 0.1em 0.3em;
  border-left: 7px solid;
  border-bottom: 2px dashed;
}
#article-section h4 {
  margin-top: 1.5em;
  font-size: 1.2em;
  color: #005caf;
  padding: 0.1em 0.3em;
  border-left: 4px solid;
}

/* img */
#article-section figure.gatsby-resp-image-figure {
  margin: 2em auto;
}
#article-section img.gatsby-resp-image-image {
  box-shadow: 0 0 10px gray !important;
}
#article-section .gatsby-resp-image-figcaption {
  margin-top: 0.8em;
  text-align: center;
  color: gray;
  font-size: 0.8em;
}

/* p */
#article-section p {
  margin-bottom: 1em;
}

/* pre */
#article-section pre {
  margin: 1em auto;
}

/* twitter */
#article-section twitter-widget {
  margin: auto;
  margin-bottom: 2em !important;
}

/* youtube */
#article-section div.embed-youtube {
  position: relative;
  max-width: 640px;
  margin: 2em auto;
  box-shadow: 0 0 10px gray;
}
#article-section div.embed-youtube::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
#article-section div.embed-youtube iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ul, ol, li */
#article-section ul,
ol {
  margin-bottom: 1em;
}
#article-section ul li {
  list-style-type: disc;
  margin-left: 1.1em;
}
#article-section ol li {
  list-style-type: decimal;
  margin-left: 1.1em;
}
#article-section li p {
  margin-bottom: 0;
}
#article-section li ul, li ol {
  margin-top: 0; /* 小階層の場合 */
  margin-bottom: 0;
}
