html {
  letter-spacing: 0.04em;
  background-color: whitesmoke;
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul li, ol li {
  list-style-type: none;
}

.pagination > p {
  text-align: center;
}
.pagination ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2em;
}
.pagination ul li a {
  border: 1px solid gray;
  padding: 0.3em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em lightgray;
  text-decoration: none;
}
.pagination li .pagination-before::before {
  content: '＜ ';
}
.pagination li .pagination-after::after {
  content: ' ＞';
}

p.date {
  font-style: italic;
  color: gray;
}

ins.adsbygoogle {
  margin: 1em auto;
}
