ul.tag {
  margin: 0;
  font-size: 0.8em;
  margin-bottom: 10px;
}

ul.tag li {
  display:inline-block;
  margin: 0 10px 0;
  color: royalblue;
}

ul.tag li:first-child {
  margin-left: 0;
}

ul.tag a {
  text-decoration: none;
}
